{% extends 'adminshop/base.html' %}
{% block dashbordcontent %}
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Conform Delete Porduct</b></h5>
  </header>


  <div class="w3-container">
    <div class="w3-container w3-border w3-large">
      <div class="w3-left-align">
        <p>Are You Sure For Deleting  - {{ orderitem.product.name}}-  Product?</p>
      </div>
    </div>delete_oreder_item
    <a href="{% url 'orders:the_orders' %}" class="w3-btn w3-black">Return To Shops List</a>
    <a href="{% url 'orders:delete_oreder_item' orderitem.id %}" class="w3-button w3-dark-grey">Yes  <i class="fa fa-arrow-right"></i></a>
  </div>
  <hr>
  


  {% endblock dashbordcontent %}