{% extends 'adminshop/base.html' %}


{% block dashbordcontent %}

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Orders </b></h5>
  </header>


  <div class="w3-container">
    <div class="w3-container w3-border w3-large">
      <div class="w3-left-align">
        {% if messages %}
            {% for message  in messages %}
              <div class="w3-panel w3-pale-green w3-border">
                <h3>{{ message }}</h3>
              </div>
            {% endfor%}
        {% endif %}
        <form action="{% url 'orders:the_orders'  %}" method="POST">
          {% csrf_token %}
          <label>From</label>
        <input type="date" value="" class="w3-input" name="fromdate" >

        <label>To</label>
        <input type="date" value="{{to_date}}" class="w3-input" name="todate">

        <div class="w3-select" style="width:200px;">
          <select  class="w3-select"  name="option">
            <option value="">None</option>
            <option value="CF">Confirm</option>
            <option value="PS">Processing</option>
            <option value="PD">Paid</option>
            <option value="CN">Cancel</option>
          </select>
        </div>
        <button class="w3-button w3-dark-grey">Search</button>
        <a href="{% url 'orders:the_orders' %}" class="w3-button w3-dark-grey">All Orders</a>
        </form>
        
      </div>
    </div>
    {% if order_list %}
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <th>Shop Name</th>
        <th>Customer Name</th>
        <th> Order Status</th>
        <th>Create At</th>
        <th> More Detail</th>
        <th> Change Status</th>
      </tr>
      {% for order in order_list %}
      <tr>
        <td>{{order.order_of_orderitem__product__shop__name}}</td>
        <td>{{order.customer__username}}</td>
        <td>{{order.status}}</td>
        <td>{{order.createdAt}}</td>
        <td><a href="{% url 'orders:order_item_list' order.id %}">More</a></td>
        <td><a href="{% url 'orders:change_order_status' order.id %}">Change</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="w3-panel w3-padding-20 w3-center w3-pale-green w3-round-xxlarge w3-border">
      <h3>No Order!</h3>
    </div>
    {% endif %}
  </div>
  <hr>
  


  {% endblock dashbordcontent %}