{% extends 'adminshop/base.html' %}
{% block dashbordcontent %}
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Order Items</b></h5>
  </header>


  <div class="w3-container">
    <h5>Oreder Items</h5>
    {% if order_item_list %}
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr style="width: 100%;">
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Image</th>
        <th>Price</th>
        <th style="text-align: center;">Cancel</th>
      </tr>
      {% for orderitem in order_item_list%}
      <tr>
        <td>{{orderitem.product__name}}</td>
        <td>{{orderitem.qty}}</td>
        
        {% if orderitem.product__image %}
        <td>
          <img src="/images/{{orderitem.product__image}}" alt="Forest" class="w3-hover-grayscale" style="width:80px">
        </td>
        {% else %}
        <td>
          -
        </td>
        {% endif %}
        <td>{{orderitem.price}}</td>
        <td>{{orderitem.product__image.url}}</td>
        <td>
          <a href="{% url 'orders:conform_delete_order_item' orderitem.id %}" style="padding-right: 50px;">Cancel</a>
          </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <div class="w3-panel w3-padding-20 w3-center w3-pale-green w3-round-xxlarge w3-border">
      <h3>No Order Item!</h3>
    </div>
    {% endif %}
  </div>
  <hr>
  <a  href="{% url 'orders:the_orders'  %}" class="w3-button w3-dark-grey"> Back To Orders Page  <i class="fa fa-arrow-right"></i></a>



  {% endblock dashbordcontent %}