{% extends 'adminshop/base.html' %}
{% block dashbordcontent %}
  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>


  <div class="w3-container">
    <h5>SHOPS</h5>
    {% if shop_list %}
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <th>Shop Name</th>
        <th>Shop Type</th>
        <th>Is Active</th>
        <th>Edit</th>
        <th>Products Of Shop</th>
        <th>Delete</th>
      </tr>
      {% for shop in shop_list%}
      <tr>
        <td>{{shop.name}}</td>
        <td>{{shop.shop_type}}</td>
        <td>{{shop.is_active}}</td>
        <td><a href="{url   shopid  }">edit</a></td>
        <td><a href="{% url 'products:list_product_of_shop' shop.slug %}">Info</a></td>
        <td><a href="{% url 'shops:delete_shop_admin' shop.slug %}"">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>no shop</p>
    {% endif %}
    <br>
    <button class="w3-button w3-dark-grey">New Shop  <i class="fa fa-arrow-right"></i></button>
  </div>
  <hr>
  


  {% endblock dashbordcontent %}